.button_2{
    height:30px;
    background:#000000;
    border-style:solid;
    border-color:red;
    color:red;
    font-size-adjust: inherit 50%
}

header .container{
    background-color: black;
    color:#b30000;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: #e8491d 3px solid;
}

header .highlight, header .current a{
    color:#880000;
    font-weight:bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 10px 12px;
    text-decoration: none;
    display:block;
    background:red;
}

.dropdown-content a:hover {background-color: #ff3333}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ff3333;
}


header li{
    padding: 0 20px 0 20px;
    display: inline;
    background-color:#666666;
}


header a{
    color:white;
    text-decoration: none;
    text-transform:uppercase;
    font-size: 16px;
}

header .highlight, header .current a{
    color:#660000;
    font-weight:bold;
}

header nav{
    margin-top:10px;
}

header a:hover{
    color:#cc0000;
    font-weight:bold;
}

body{
    background-color: black
}

body .box h1{
    color:Red;
    font-style: italic;
    padding-left:15%;
    font-size: 58px;
}

body .box p{
    color:red;
    font-size: 32px;
}

.highlight1{
    color:#ffffff;
}

footer{
    padding:20px;
    margin-top: 100px;
    color: red;
    background-color: #000000;
    text-align: center;
    font-size: 10px;
}

body p2{
    font-size: 22px;
    color:red;
}
