body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color: #f4f4f4;
}

/*This Is Global*/
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

ul{
    margin:0;
    padding:0;
    float:right;
}

.button_1{
    height:38px;
    background:#DC143C;
    border:none;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
}

.dark{
    padding:15px;
    background:#ff99cc;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
}

/*This is the Header*/

header{
    background:#ff99cc;
    color: #ffffff;
    padding-top: 30px;
    min-height:70px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color:#ffffff;
    text-decoration: none;
    text-transform:uppercase;
    font-size: 16px;
}




header li{
    float:left;
    padding: 0 20px 0 20px;
    display: inline;
}

header #branding{
    float:left;
    display: inline;
}

header #branding h1{
    margin: 0;
}

header nav{
    float:right;
    margin-top:10px;
}

header .highlight, header .current a{
    color:#000000;
    font-weight:bold;
}

header a:hover{
    color:#8B0000;
    font-weight:bold;
}

/*sidebar*/
#sidebar{
    position:fixed;
    padding:10px;
    float:left;
}


/*Showcase*/


#showcase{
    min-height: 400px;
    background: url('../img/bg.jpg') no-repeat -50px -400px;
    text-align:center;
    color:#ffffff;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom:10px;
}

#showcase p{
    font-size: 20px;
}


/*Newsletter*/

#newsletter{
    padding:15px;
    color:#ffffff;
    background:#ff99cc;
}

#newsletter h1{
    float:left;
}

#newsletter form {
    float:right;
    margin-top:15px;
}

#newsletter input[type="email"]{
    padding:4px;
    height:25px;
    width:250px;
}


/*Boxes*/
#boxes{
    margin-top:20px;
}

#boxes .box{
    float:left;
    text-align: center;
    width:30%;
    padding:10px;
}

#boxes .box img{
    width:150px;
}

/*sidebar*/
aside#sidebar{
    float:right;
    width:30%;
    margin-top:10px;
}

/*Main-col*/
article#main-col{
    float:left;
    width:65%;
}

footer{
    padding:20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #ff99cc;
    text-align: center;
}
